{% extends "base.html" %}
{% block content %}
    <div class="container index">
        <h1>Welcome to Zaniron Games!</h1>
        <hr>
        <p>Hopefully you'll have made your way here through a love of games! Here at
        Zaniron Games we love games too and we want to share that passion with you.</p>
        <p>Utilising the Unity game engine, we're building a 2D platformer, focusing heavily
        on story progression and character development. We want you to build a connection to
        our characters and the world they're in.</p>
        <p>Here on this site you'll find our public development live on display. We will regularly
        be posting updates on our blog and showing you the kinds of tasks that we undertake to
        create this game! You will also find a donations page, being an indie studio without a
        publisher means that we are paying for our development out of pocket. If you wish to support us
        please feel free to head on over there. Anything you give will help us greatly!</p>
        <img src="media/images/WithBunny.png" alt="Game Screenshot">
    </div>
{% endblock %}